<div class="container">



<!--ATTEMPT TO CREATE INTRO ICONS EXPLAINING VALUE PROPOSITION -->
<section class="features-icons bg-light text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-screen-desktop m-auto text-primary"></i>
            </div>
            <h3>Inspire</h3>
            <p class="lead mb-0">Inspire you.</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-layers m-auto text-primary"></i>
            </div>
            <h3>Train</h3>
            <p class="lead mb-0">Train blah blah blah. </p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-check m-auto text-primary"></i>
            </div>
            <h3>Lifestyle</h3>
            <p class="lead mb-0"> Live it everyday.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

<br>
<br>

  <!-- FORM TO LOGIN OR CREATE ACCOUNT -->
  <section class="features-icons bg-light text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
              <div class="features-icons-icon d-flex">
                <i class="icon-layers m-auto text-primary"></i>
              </div>
              <% if flash[:message] %>
                <p style="color:red"><%= flash[:message]%></p>
              <% end  %>



  <%= form_tag sessions_path do %>
  <div class="form-group">
    <%= label_tag :username, "Username:" %><br>
    <%= text_field_tag :username  %>
  </div>
  <div class="form-group">
    <%= label_tag :password, "Password:" %><br>
    <%= password_field_tag :password %>
  </div>
  <div class="form-group text-center">
    <%= submit_tag "Login" %>
  </div>
  <% end  %>

  <div class="form-group text-center">
  <%= form_tag new_user_path, {method: :get} do %>
    <%= submit_tag "Create Account" %>
  <% end %>
        </div>
      </div>

    </div>
  </div>
</div>
</section>
