<div class="container">

<h1>Trainers</h1>

<h4>Search by Content Type</h4>
<%= form_tag user_trainer rails_path, method: :get do  %>
<%= select_tag :search, options_for_select(@content_types), selected: params[:search] %>
  <%= submit_tag ("Search") %>
<% end  %>

<% if @searched == true %>
  <h5>Filtered By: <%= params[:search] %></h5>
  <% elsif @searched == false  %>
  <h5>No Results for <%= params[:search] %></h5>
<% end  %>

<div class="container">
   <div class="row">
     <div class="col-lg-8 col-md-10 mx-auto">

<% if @searched == true || @searched == nil %>
  <% @workouts.each do |workout| %>
    <!--BEGIN local variablse to name training and current user for modal-->
    <%@training_id = workout.user_id %>
    <% @current_user = session[:user_id]%>
    <% @workout_modal = workout.id%>
    <!--END local variable to name training and current for modal-->
    <!--BEGIN create workout link on discover page with information-->
    <div class="workout-preview">
         <a href="#<%=@workout_modal%>Modal" data-toggle="modal">
           <h4 class="workout-title">
            <%= workout.title %>
           </h4>
           <h5 class="workout-subtitle">

           Posted by <%= User.find(workout.user_id).name %> on <%= (workout.created_at.strftime("%B %d, %Y")) %> | <%= workout.content_type %>

           </h5>
         </a>
        #  <h6 class="workout-subtitle"><%=image_tag(#, height: "40", width: "40")%> <%= workout.pumps.count %>&nbsp; | &nbsp;<%= image_tag(".png", height: "40", width: "40") %> <%= workout.reviews.count %></h6>
       </div>
       <div class="lineb">
    </div>
    <!--END create workout link on trainer page with information-->

    <!-- BEGIN Modal for workout details  -->
    <div class="modal" id="<%=@workout_modal%>Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel"><h4 class= "workout-subtitle">
              <h3><%= workout.title %> </h3>
            Posted By: <%= link_to User.find(@training_id).name, user_profile_path(User.find(@training_id)) %>
            on <%= (workout.created_at.strftime("%B, %d, %Y")) %> |
             <%= link_to workout.content_type,workout.content_link, target: :_blank %>
            #  <h5><%= link_to image_tag(".png", height: "45", width: "45"), user_workout_fitnesss_path(@current_user, workout.id), method: :post, controller: 'pumps'%> <%= workout.pumps.count %> &nbsp; | &nbsp;
              <%= image_tag(".png", height: "45", width: "45")%> <%= workout.reviews.count %></h5>
            </h4>

          </div>
          <div class="modal-body">
              <h4>
              Description: <%= workout.description %> <br>
              </h4>
              <br>
              <h4>Reviews:</h4>
             <% workout.reviews.each do |review| %>
               <div class="container please_align">
                 <div class="dialogbox">
                   <div class="body">
                     <span class="tip tip-up"></span>
                     <div class="message">

                   <span class="review_header"><%= review.find_user %> - <%= (review.created_at.strftime("%B %d, %Y")) %></span><br><span>
                   <%= review.text %></span>
                   </div>
                 </div>
               </div>
             </div>
                <% end %>

                <div class=" container please_align">
                  <h5>Add Review:</h5>
                  <%= form_for @new_review, url: user_workout_reviews_path(@current_user, workout.id) do |f| %>
                  <%= f.text_area :text, maxlength: 200 %> <br>
                  <%= f.label :text, "200 characters", class:"workout-subtitle" %> <br>
                  <br>
                  <%= f.submit "Create Review" %>
                  <% end  %>
                </div>
                </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <!-- END Modal for workout details -->


  <% end %>
<% end %>

   </div>
  </div>
</div>

</div>
